<mat-card *ngIf="product">
  <mat-card-header>
    <mat-card-title>
      {{product.name}}
    </mat-card-title>
    <mat-card-subtitle>
      <p>{{ product.detail || 'No existen detalles del producto.'}}</p>
    </mat-card-subtitle>
  </mat-card-header>
  <mat-card-content>
    <table>
      <tr>
        <td class="title">Existencias:</td>
        <td>{{product.stock}}</td>
      </tr>
      <tr>
        <td class="title">Costo:</td>
        <td>{{ product.cost | currency }}</td>
      </tr>
      <tr>
        <td class="title">Precio publico (PVP):</td>
        <td>{{ product.price | currency }}</td>
      </tr>
      <tr>
        <td class="title">Revisión #:</td>
        <td>{{ product.revision }}</td>
      </tr>
      <tr>
        <td class="title">Creación:</td>
        <td>{{ product.created_at | date:'medium':'GMT-5'}}</td>
      </tr>
      <tr>
        <td class="title">Modificación:</td>
        <td>{{ product.modified_at | date:'medium':'GMT-5'}}</td>
      </tr>
    </table>
  </mat-card-content>
  <mat-card-actions>
    <button mat-raised-button (click)='onBack()'>Volver</button>
  </mat-card-actions>
</mat-card>
